/* Give your page a fun background color */
body {
  background-color: beige;
}
/* Make the header and footer a different color from the background */
#header {
  background-color: hotpink;
}
#footer {
  background-color: goldenrod;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  color: brown; 
}
/* Make your p tag a different color and italic */
p {
  text-align: center;
  font-style: italic;
  color: gold;
}
/* Put a border around your image */
img {
  border: 5px solid salmon;
  display: block; /*JK---center my image---JK*/
  margin-left: auto; 
  margin-right: auto; 
  width: 30%; 
}
/* Change the font-family of your list */
li {
  font-family: cursive;
}